<h3></h3>

<!-- div row para pesquisa -->
<!--<div class="row">-->

            <div ng-hide="Cliente.inserting || Cliente.editing" class="component-holder ng-binding ng-scope" data-component="crn-datasource-filter-complex">
              <fieldset>
                <div data-component="crn-datasource-filter" id="crn-datasource-filter-mes" class="">
                    <div class="form-group">
                        <label for="textinput-filter" class="">{{"template.crud.search" | translate}} Mes</label>
                        <input type="integer" ng-model="vars.search_mes" mask="" mask-placeholder="" cronapp-filter="mes" cronapp-filter-caseinsensitive="false" cronapp-filter-autopost="false" cronapp-filter-operator="" crn-datasource="Cliente" class="form-control" value="" placeholder="Mes">
                    </div>
                </div>
                <div data-component="crn-datasource-filter" id="crn-datasource-filter-ano" class="">
                    <div class="form-group">
                        <label for="textinput-filter" class="">{{"template.crud.search" | translate}} Ano</label>
                        <input type="integer" ng-model="vars.search_ano" mask="" mask-placeholder="" cronapp-filter="ano" cronapp-filter-caseinsensitive="false" cronapp-filter-autopost="false" cronapp-filter-operator="" crn-datasource="Cliente" class="form-control" value="" placeholder="Ano">
                    </div>
                </div>
                <div data-component="crn-datasource-filter" id="crn-datasource-filter-ativo" class="">
                    <div class="form-group">
                        <label for="textinput-filter" class="">{{"template.crud.search" | translate}} Ativo</label>
                        <input type="checkbox" ng-model="vars.search_ativo" mask="" mask-placeholder="" cronapp-filter="ativo" cronapp-filter-caseinsensitive="false" cronapp-filter-autopost="false" cronapp-filter-operator="" crn-datasource="Cliente" class="form-control" value="" placeholder="Ativo">
                    </div>
                </div>
              <div data-component="crn-button-filter" class="" crn-datasource="Cliente">
                <button class="btn btn-default component-holder" cronapp-filter="" data-component="crn-button-filter" type="submit" ng-click="" xattr-size="" xattr-fullsize="" xattr-theme="btn-default"><i class="glyphicon glyphicon-search"></i> <span>{{"template.crud.search" | translate}}</span></button>
              </div>
              <br>
              </fieldset>
            </div>

<div data-component="crn-button" id="crn-button-564202" class="">
    <button class="btn btn-primary" type="submit" onclick="" data-component="crn-button" ng-click="Cliente.startInserting()" ng-hide="Cliente.inserting || Cliente.editing"><i class="fa fa-user"></i> <span class="">{{"template.crud.new" | translate}}</span></button>
</div>
<!-- fim div row para pesquisa -->
<!--</div>-->

<datasource filter="" name="Cliente" entity="api/cronapi/crud/app.entity.Cliente" keys="id" rows-per-page="100" delete-message="Deseja remover?" class=""></datasource>
<div class="component-holder" data-component="crn-grid" id="crn-grid-Cliente">
    <div crn-datasource="Cliente" class="" ng-hide="Cliente.editing || Cliente.inserting">
        <table class="table  table-bordered table-hover table-striped">
            <thead>
            <tr class="table-header">
                <th class="">
                    <div class="">Nome Cliente</div>
                </th>
                <th class="">
                    <div class="">Mes</div>
                </th>
                <th class="">
                    <div class="">Ano</div>
                </th>
                <th class="">
                    <div class="">Ativo</div>
                </th>
                <th class="">
                    <div class="">{{"template.crud.actions" | translate}}</div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="table-content" ng-repeat="rowData in datasource.data">
                <td class="">
                    <div class="">
                                {{rowData.nomeCliente  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.mes  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.ano  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                                {{rowData.ativo  }}
                    </div>
                </td>
                <td class="">
                    <div class="">
                        <button class="btn btn-default btn-sm" data-component="crn-button" type="submit" ng-click="datasource.startEditing(rowData)"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-default btn-sm" data-component="crn-button" type="submit" ng-click="datasource.remove(rowData)"><i class="fa fa-times"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="table-footer-controls">
            <button class="btn btn-default btn-block btn-clicked" data-component="crn-button" ng-show="datasource.hasNextPage()" ng-click="datasource.nextPage()">{{"template.crud.load_more" | translate}}...</button>
        </div>
    </div>
</div>
<div data-component="crn-form" id="crn-form-form-Cliente">
    <div class="form" ng-show="Cliente.editing || Cliente.inserting">
        <form crn-datasource="Cliente" class="">
            <div class="tool-bar" ng-hide="datasource.editing || datasource.inserting">
                <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.startInserting()"><i class="glyphicon glyphicon-plus-sign"></i></button>
                <button class="btn btn-success" data-component="crn-button" ng-click="datasource.startEditing()"><i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasPrevious()" ng-click="datasource.previous()"><i class="glyphicon glyphicon-chevron-left"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-disabled="!datasource.hasNext()" ng-click="datasource.next()"><i class="glyphicon glyphicon-chevron-right"></i></button>
                <button class="btn btn-primary" data-component="crn-button" ng-click="datasource.remove()"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
            <div class="active-bar" ng-hide="!datasource.editing &amp;&amp; !datasource.inserting">
                <button class="btn btn-success" data-component="crn-button" ng-click="datasource.post()"><i class="glyphicon glyphicon-ok"></i></button>
                <button class="btn btn-danger" data-component="crn-button" ng-click="datasource.cancel()"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
            <br>
            <fieldset ng-disabled="!datasource.editing &amp;&amp; !datasource.inserting">

                <div data-component="crn-textinput" id="crn-textinput-nomeCliente" class="">
                    <div class="form-group">
                        <label for="textinput-nomeCliente" class="">Nome Cliente</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input type="text" ng-model="Cliente.active.nomeCliente" class="form-control" id="textinput-nomeCliente" placeholder="Nome Cliente" mask="" mask-placeholder="" ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-mes" class="">
                    <div class="form-group">
                        <label for="textinput-mes" class="">Mes</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input maxlength="2" type="integer" ng-model="Cliente.active.mes" class="form-control" id="textinput-mes" placeholder="Mes" mask="" mask-placeholder="" ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-ano" class="">
                    <div class="form-group">
                        <label for="textinput-ano" class="">Ano</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input maxlength="4" type="integer" ng-model="Cliente.active.ano" class="form-control" id="textinput-ano" placeholder="Ano" mask="" mask-placeholder="" ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>

                <div data-component="crn-textinput" id="crn-textinput-ativo" class="">
                    <div class="form-group">
                        <label for="textinput-ativo" class="">Ativo</label>
 <!-- else for if !model.hasCronappFramework() -->
                                <input type="checkbox" ng-model="Cliente.active.ativo" class="form-control" id="textinput-ativo" placeholder="Ativo" mask="" mask-placeholder="" ng-required="false">
                         <!-- end if !model.hasCronappFramework() -->
                    </div>
                </div>
                <!-- NtoN  -->
                <!-- NtoN  end-->
            </fieldset>
        </form>
        <form>
            <fieldset>
                <!-- OneToN -->
                <!-- OneToOne  end -->
            </fieldset>
        </form>
    </div>
</div>


<!-- OneToOne modal -->
<!-- OneToOne modal end-->
